
/worker/target/
/worker/worker.iml
/core/core.iml
/core/target/
/master/master.iml
/master/target/
/.idea/
/master/.idea/
/registry/registry.iml
/registry/target/
/rpc/rpc.iml
/rpc/target/
/datax-all.iml
/logs/
*-dev*
/data/
/build/
/packages/
/assembly/target/
